:root {
    --primary: #fd6568;
    --scndry: #01a9cd;
    --dark: #22243e;
    --light: #8796a4;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

header {
    height: 10vh;
}

nav {
    width: 95%;
    margin: auto;
    padding: 25px 0;
}

.uul {
    width: 300px;
    float: right;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    cursor: pointer;
    font-weight: 600;
}


.bars div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
}

.cont {
    background-color: var(--light);
    width: 100%;
    height: 30vh;
    display: block;
    position: relative;
    z-index: 100;
    overflow: hidden;
    display: none;
    animation: trans 2s linear;
}

.cont ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    margin: 20px;
}

@keyframes trans {
    from {
        height: 0;
    }

    to {
        height: 100;
    }
}

.cont ul li:first-child {
    margin: 20px 0 10px 0;
    text-decoration: underline;
}

.cont ul li {
    margin: 10px 0;
    text-decoration: underline;
}

.hero-img {

    z-index: 0;
}

.image img {
    z-index: 0;
}

.bars {
    display: none;
    float: right;
    cursor: pointer;
}

.hidden {
    display: none;
}
/************* Footer Section   *****************/
.ico {
    margin-top: 40px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.ico img {
    padding: 10px 0;
    width: 25px;
    cursor: pointer;
}

footer {
    line-height: 1.25;
    text-align: center;
}
/************* Media Queries   *****************/
@media screen and (max-width:768px) {
    header {
        height: 10vh;
        background-color: var(--light);
    }
    .uul {
        display: none;
    }

    .bars {
        display: block;
    }   
}
